body, html {
    background-color: #1d2125;
}

* {
    outline: none;
    /* border: 1px solid red; */
}

.container {
    box-sizing: border-box;
}

#projectInfo {
    background-color: #0000002A;
    padding: 5%;
    margin-top: 1%;
    border-radius: 20px;
    color: #FFFFFFA0;
    display: none;
}

.projectSearcher {
    margin: 10px 0 10px 0;
    height: 30px;
}

.buttonRed {
    background: linear-gradient(rgba(232, 20, 22, 0.6), rgba(232, 20, 22, 0.3));
}

.buttonOrange {
    background: linear-gradient(rgba(255, 165, 0, 0.6), rgba(255, 165, 0, 0.3));
}

.buttonYellow {
    background: linear-gradient(rgba(250, 235, 54, 0.6), rgba(250, 235, 54, 0.3));
}

.buttonGreen {
    background: linear-gradient(rgba(121, 195, 20, 0.6), rgba(121, 195, 20, 0.3));
}

.buttonBlue {
    background: linear-gradient(rgba(72, 125, 231, 0.6), rgba(72, 125, 231, 0.3));
}

.buttonIndigo {
    background: linear-gradient(rgba(75, 54, 157, 0.6), rgba(75, 54, 157, 0.3));
}

.buttonViolet {
    background: linear-gradient(rgba(112, 54, 157, 0.6), rgba(112, 54, 157, 0.3));
}

.sidebar {
    background-color: #161a1d;
    padding: 10px;
}

.sidebar_logoContainer {
    box-sizing: border-box;
    margin: 10px;
}

button {
    color: #FFFFFFEE;
}

.button {
    box-sizing: border-box;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 11pt;
    font-weight: 500;
    text-align: center;
}

#popupLogin {
    display: none;
    visibility: hidden;
    z-index: 1000;
}

.buttonContainer {
    display: inline-flex;
    margin: 0 10px 0 10px;
}

.content {
    background-color: #1d2125;
}

#createProject_DIAL {
    display: none;
    z-index: 10000;
    background-color: #161a1d;
}

#singleProject {
    border: 1px solid #3D3D3D;
    background-color: #1a1a1a;
    opacity: 0.6;
}

#sidebar_projectTree {
    color: #FFFFFFAA;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12pt;
}

.tree {
    list-style: none;
    padding-left: 20px;
    position: relative;
    color: #FFFFFF9A;
}

.tree:before {
    content: "";
    width: 2px;
    top: 0;
    bottom: 3px;
    left: 0;
    position: absolute;
}

.tree li {
    position: relative;
}

.tree li:before {
    content: "";
    width: 20px;
    height: 1px;
    top: 12px;
    left: -20px;
    position: absolute;;
}

ul.tree {
    list-style-type: none;
    padding-left: 20px;
}

ul.tree li {
    margin-bottom: 5px;
}

ul.tree li ul {
    display: none;
}

ul.tree li span {
    cursor: pointer;
}

.tree li:hover,
.tree li:focus {
    cursor: pointer;
}

.tree .tree {
    display: none;
}

.fa {
    padding-right: 5px;
    margin-top: 10px;
}

.createProject_close {
    color: #FFFFFFEE;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
}

.preLogIn {
    -webkit-filter: blur(5px);
    filter: blur(5px);
    transition: filter 0.3s ease-out;
}

.preLogIn:hover {
    -webkit-filter: blur(15px);
    filter: blur(15px);
}

.navbar {
    background-color: #1d2125;
    border-bottom: 1px solid #3D3D3D;
}

.textInput {
    font-weight: 500;
    color: #FFF;
    border: none;
    background: rgba(255, 255, 255, 0.30);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    border-radius: 15px;
}

#input-group {
    opacity: 0;
}

.textInput-lessVisible {
    font-weight: 500;
    color: #FFF;
    border: none;
    background: rgba(255, 255, 255, 0.10);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    border-radius: 15px;
}

input[type=text] {
    padding: 0 15px 0 15px;
}