<html>
    <head>
        <!-- TITLE -->
        <title>WayApp Desktop</title>

        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        
        <!-- JS -->
        <script type="text/javascript" src="/eel.js"></script>
        <script src="/js/main.js"></script>
        <script
                    src="https://code.jquery.com/jquery-3.7.1.min.js"
                    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
                    crossorigin="anonymous"></script>
    </head> 
    <body>

        <div class="container">
            <div class="sidebar preLogIn">
                <div class="sidebar_logoContainer">
                    <img class="centerize" src="/img/wayapp/logo/smallSidebar/smallSidebarLogo.png" alt="______ codename WayApp">
                    </div>
                    <div class="sidebar_projectSearch_formContainer">
                    <form class="sidebar_projectSearch_form" action="#">
                        <input type="text" class="centerize textInput" placeholder="Search in projects..."/>
                    </form>
                </div>
            </div>
            <div class="content">
                <div class="navbar">
                    <div class="buttonContainer">
                        <div class="centerize button buttonRed">
                        <div onclick="joinWindow()" class="centerize">Join</div>
                        </div>
                    </div>
                    <div class="buttonContainer">
                        <div class="centerize button buttonBlue">
                        <div onclick="goToHome()" class="centerize">Homepage</div>
                        </div>
                    </div>
                </div>
                <div style="padding: 30px;">
                    <div class="login_div">
                        <input id="login_value" type="text" class="textInput" placeholder="Enter your new login..."/>
                    </div>
                    <br>
                    <div class="pin_div">
                        <input id="pin_value" type="password" class="textInput" placeholder="Enter your PIN... Don't share it!"/>
                    </div>
                    <br>
                    <div class="buttonContainer">
                        <div class="button buttonBlue">
                            <div
                                onclick="
                                    parseJoinData_JS(
                                        document.getElementById('login_value').value, document.getElementById('pin_value').value);window.close()
                                " 
                                class="centerize">
                                Submit
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>